@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a, button {
  cursor:pointer;
}
.dm-sans {
  font-family: 'DM Sans', sans-serif;
}
.main-nav-list a.active {
  @apply font-bold relative
}
.main-nav-list a.active::before {
  @apply absolute bottom-[-10px] bg-[#FE551E] w-[6px] h-[6px] block rounded-[50px];
  content: '';
  left: 50%;
}
.main-nav-list a:hover {
  @apply relative
}
.main-nav-list a:hover::before {
  @apply absolute bottom-[-10px] bg-[#FE551E] w-[6px] h-[6px] block rounded-[50px];
  content: '';
  left: 50%;
}
.main-nav-list li a:hover {
  transition: 0.3s all;
}

.custom-radio input {
  display: none;
}

label.custom-radio {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

label.custom-radio span {
  position: relative;
  @apply text-[#EAEDEE] font-light text-[14px] leading-[21px] mr-[49px]
}

label.custom-radio span:before,
label.custom-radio span:after {
  content: '';
}

label.custom-radio span:before {
  border: 1px solid white;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

label.custom-radio span:after {
  background: #FE551E;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 300ms;
  opacity: 0;
}

label.custom-radio input:checked+span:after {
  opacity: 1;
}
.header-section {
  background-image: url('../img/daniel-korpai-pKRNxEguRgM-unsplash1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-footer-promo {
  background-image: url('../img/footer-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 22px right 0;
}
.about-us-section {
  background-image: url('../img/about-us-intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-navbar {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 444444;
  @apply overflow-hidden sticky top-0 mb-[-75px] md:mb-[-99px] w-full max-w-[100vw] border-b-[1px] border-[#FFFFFF38]
}
.main-navbar .navbar-inner {
  @apply bg-[#D9D9D903] py-[21px] md:py-[22px] px-[30px] md:px-[65px]
}
.main-navbar .navbar-inner-active {
  @apply !bg-[#212324]
}
.main-navbar .navbar-inner .navbar-inner-container {
  @apply flex sm:flex-wrap lg:flex-nowrap items-center justify-between
}
.main-navbar .navbar-inner .navbar-inner-container .navbar-brand {
  @apply flex items-center sm:max-w-[253px] w-full
}
.main-navbar .navbar-inner .navbar-inner-container .navbar-brand img {
  @apply max-w-[80%] sm:max-w-[253px] w-full
}
.main-navbar .navbar-inner .navbar-inner-container button.btn-mobile-toggle {
  @apply inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 
}
.main-navbar .desktop-navbar {
  @apply hidden w-full md:flex md:grow justify-end
}
.main-navbar .desktop-navbar ul {
  @apply main-nav-list font-medium flex flex-col items-center mt-4 md:flex-row md:mt-0
}
.main-navbar .desktop-navbar ul li a {
  @apply text-white text-[14px] leading-[24.5px] font-light mr-[31px]
}
.main-navbar .desktop-navbar ul li:last-of-type a {
  @apply mr-[0px]
}
.main-navbar .desktop-navbar select {
  @apply outline-none bg-transparent font-semibold text-[14px] leading-[24.5px] text-white md:mx-[54px]
}
.main-navbar .desktop-navbar select option {
  @apply text-black
}
.main-navbar .desktop-navbar a.btn-main {
  @apply flex w-fit font-semibold text-[14px] leading-[24.5px] text-white uppercase items-center align-middle py-[20px] px-[30px] bg-[#F35622] rounded-[50px]
}
.main-navbar .desktop-navbar a.btn-main img {
  @apply ml-[25px]
}
.mobile-navbar {
  z-index: 444445;
  @apply fixed bg-[#231F20] top-0 w-full h-screen px-[30px] py-[22px]
}
.mobile-navbar-brand {
  @apply flex justify-between mb-[62px]
}
.mobile-navbar-brand a {
  @apply flex items-center max-w-[80%] sm:max-w-[253px] w-full
}
.mobile-navbar-brand a img {
  @apply max-w-[80%] sm:max-w-[253px] w-full
}
.mobile-navbar-brand button {
  @apply min-w-[26.11px] 
}
.mobile-navbar ul {
  @apply flex flex-col
}
.mobile-navbar ul li {
  @apply mb-[42px]
}
.mobile-navbar ul li a {
  @apply text-white text-[24px] leading-[24.5px] font-light
}
.mobile-navbar select {
  @apply outline-none bg-transparent font-semibold text-[14px] leading-[24.5px] text-white mb-[44px]
}
.mobile-navbar select option {
  @apply text-black
}
.mobile-navbar a.btn-main {
  @apply mb-[20px] md:mb-0 flex justify-between md:justify-start w-full md:w-fit font-semibold text-[14px] leading-[24.5px] text-white border-[1px] border-transparent uppercase items-center align-middle py-[20px] px-[30px] bg-[#F35622] rounded-[50px] md:mr-[23px]
}
.mobile-navbar a.btn-main img {
  @apply ml-[25px]
}
.custom-bg-gradient {
  background: linear-gradient(180deg, rgba(21, 23, 24, 0) 0%, #151718 100%);
}
.custom-bg-gradient2-1 {
  background: linear-gradient(270deg, #E1E4E5 0%, rgba(225, 228, 229, 0) 100%);
}
.custom-bg-gradient2-2 {
  background: linear-gradient(90deg, #E1E4E5 0%, rgba(225, 228, 229, 0) 100%);
}
.intro-bg-img {
  background-image: url('../img/intro-bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a.btn-hover-custom:hover .text-hover {
  display: flex;
  transition: 0.3s all;
}
.bg-projects-custom {
  background-image: url('../img/projects-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.testimonials-swiper1 .swiper-wrapper {
  align-items: center;
}
.testimonials-swiper1 .swiper-slide-next .testimonials-main {
  background-color: #15171814;
  padding: 50px;
  transition: 0.3s all;
}
.testimonials-swiper1 .swiper-slide-next .testimonials-main {
  background-color: #15171814;
  padding: 50px;
  transition: 0.3s all;
}
.testimonials-swiper1 .swiper-slide-next .testimonials-main img {
  max-width: 66px;
}

.bg-linear-carousel {
  background: linear-gradient(90deg, #EAEDEE 0%, rgba(234, 237, 238, 0) 72.19%);
}
.bg-linear-carousel2 {
  background: linear-gradient(90deg, #EAEDEE 0%, rgba(234, 237, 238, 0) 72.19%);
  transform: rotate(180deg);
}
.bg-linear-carousel3 {
  background: linear-gradient(90deg, #151718 -4.36%, rgba(21, 23, 24, 0) 93.04%);
}
.bg-linear-carousel4 {
  background: linear-gradient(90deg, #151718 -4.36%, rgba(21, 23, 24, 0) 93.04%);
  transform: rotate(180deg);
}
@media only screen and (max-width: 960px) {
  .testimonials-swiper1 .swiper-slide-next .testimonials-main{
      padding: 20px;
  }
  .bg-linear-carousel,.bg-linear-carousel2,.bg-linear-carousel3,.bg-linear-carousel4 {
    max-width: 50px;
  }
}
.navbar-visible {
  display: block !important
}
footer {
  @apply bg-[#151718] px-[30px] pt-[50px] lg:px-[64px] py-[30px] lg:py-[55px]
}
footer hr {
  @apply border-[#888888] border-[0.5px] mb-[37px] mt-[20px] lg:mt-[78px]
}
.footer-main {
  @apply grid grid-cols-5 xl:gap-[210px] lg:pr-[90px] lg:pl-[150px]
}
.footer-main .first-side {
  @apply col-span-5 xl:col-span-3
}
.footer-main .first-side .navbar-brand {
  @apply max-w-[352px] w-full mb-[42.5px] block
}
.footer-main .first-side .contact-details {
  @apply sm:grid grid-cols-2 gap-[20px] lg:gap-[41px] justify-between
}
.footer-main .first-side .contact-details a.btn-outline1 {
  @apply mb-[20px] sm:mb-0 text-white hover:bg-[#F35622] hover:border-[#F35622] py-[10px] px-[10px] md:px-[30px] text-[16px] leading-[24px] block font-medium w-full rounded-[50px] border-[2px] text-center border-white
}
.footer-main .first-side .contact-details a.btn-outline2 {
  @apply text-[#F35622] hover:bg-white hover:border-white py-[10px] px-[10px] md:px-[30px] text-[16px] leading-[24px] block font-medium w-full rounded-[50px] border-[2px] text-center border-white
}
.footer-main .second-side {
  @apply col-span-5 xl:col-span-2
}
.footer-main .second-side h3 {
  @apply uppercase text-[#888888] font-light text-[14px] leading-[24px] mt-[2rem] xl:mt-0
}
.footer-main .second-side .text-description {
  @apply text-white font-light text-[20px] leading-[30px] mb-[30px]
}
.footer-main .second-side .credentials-main {
  @apply grid grid-cols-2 lg:gap-[43px]
}
.footer-main .second-side .credentials-main h4 {
  @apply uppercase text-[#888888] font-light text-[14px] leading-[21px]
}
.footer-main .second-side .credentials-main p {
  @apply text-white font-light text-[14px] leading-[21px]
}
.footer-promo-section {
  @apply lg:pl-[150px] bg-footer-promo
}
.footer-promo-section hr {
  @apply border-[#888888] border-[0.5px] mt-[20px] md:mt-[76px] mb-[20px] lg:mb-[78px]
}
.footer-promo-section-column {
  @apply grid grid-cols-5 xl:gap-[20px] items-center py-[50px] md:py-0
}
.footer-promo-section-column .first-side {
  @apply col-span-5 lg:col-span-3
}
.footer-promo-section-column .first-side h2 {
  @apply text-white font-light text-[28px] leading-[52px] md:text-[48px] md:leading-[72px] text-center md:text-left
}
.footer-promo-section-column .second-side {
  @apply col-span-5 lg:col-span-2 mt-[2rem] md:mt-0
}
.footer-promo-section-column .second-side a {
  @apply m-auto md:m-0 md:float-right btn-main flex w-fit font-semibold text-[14px] leading-[24.5px] text-white uppercase items-center py-[20px] px-[30px] bg-[#F35622] rounded-[50px]
}
.footer-promo-section-column .second-side a img {
  @apply ml-[25px]
}
.footer-lower-section {
  @apply grid grid-cols-2
}
.footer-lower-section .first-side {
  @apply col-span-2 lg:col-span-1
}
.footer-lower-section .second-side {
  @apply col-span-2 lg:col-span-1 text-center lg:text-right mt-[1rem] lg:mt-0
}
.footer-lower-section .second-side p {
  @apply text-[#888888] text-[12px] leading-[15.6px] dm-sans m-0
}
ul.list-style1 {
  @apply flex p-0 justify-center lg:justify-start
}
ul.list-style1 li a {
  @apply dm-sans text-[#888888] hover:text-white text-[12px] leading-[15.6px] mr-[20px]
}
ul.list-style1 li:last-of-type a {
  @apply mr-[0px]
}
.header-section {
  @apply text-center px-[30px] md:px-0 min-h-[455px] flex items-center justify-center flex-col
}
.header-section h1 {
  @apply text-white font-light text-[64px] leading-[78px] mb-[45px] uppercase
}
.header-section p {
  @apply max-w-[647px] mb-0 font-light text-[20px] leading-[32px] text-[#EAEDEE]
}
.section-main {
  @apply bg-[#151718] px-[30px] lg:px-[64px] py-[10px] lg:py-[55px] pt-[101px]
}
.section-main-inner {
  @apply lg:pl-[150px] relative
}
.section-main-text {
  @apply lg:block md:absolute left-[-30px] top-[50px] md:rotate-[-90deg]
}
.section-main-text h1 {
  @apply text-[#EAEDEE] text-[24px] leading-[36px] pt-[13px] mb-0 uppercase border-t-[1px] border-[#EAEDEE]
}
.portfolio-grid {
  @apply grid grid-cols-4 lg:gap-[41px] mb-[48px]
}
.portfolio-grid .first-side {
  @apply col-span-4 md:col-span-2
}
.portfolio-grid .second-side {
  @apply col-span-4 md:col-span-2 md:pt-[127px]
}
.testimonial-main {
  @apply bg-white/5 px-[33px] pt-[26px] pb-[42px] rounded-[10px] mb-[45px]
}
.testimonial-main-last {
  @apply mb-[0px]
}
.testimonial-main-review {
  @apply mb-0 text-[16px] leading-[24px] text-[#808080]
}
.testimonial-main-details {
  @apply flex mb-[26px]
}
.testimonial-main-details img {
  @apply rounded-full w-[55.57px] h-[55.57px] mr-[19px]
}
.testimonial-main-details div {
  @apply flex justify-center flex-col
}
.testimonial-main-details div p.testimonial-main-details-heading {
  @apply font-semibold text-[16px] leading-[24.5px] text-white mb-0
}
.testimonial-main-details div p.testimonial-main-details-desc {
  @apply mb-0 text-[#808080] text-[14px] leading-[24.5px]
}
.contacts-page-bg {
  background-image: url('../img/footer-bg2.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 120px right 16%;
  @apply bg-[#151718] px-[30px] lg:px-[64px] py-[30px] pt-[160px] md:pt-[140px] 
}
.contacts-page-bg-none {
  background-image: none;
}
.contacts-page-bg .section-main-text {
  @apply lg:absolute lg:left-[-30px] lg:top-[170px] lg:rotate-[-90deg]
}
h2.section-main-heading {
  @apply text-[32px] md:text-[64px] leading-[48px] md:leading-[96px] text-white font-light mt-[40px] mb-[37px]
}
.section-contacts-column {
  @apply grid grid-cols-4 lg:gap-[41px] mb-[48px]
}
.section-contacts-column .first-side {
  @apply col-span-4 xl:col-span-2
}
.section-contacts-column .first-side p {
  @apply m-0 text-[#EAEDEE] font-light text-[16px] leading-[24px] mb-[20px] lg:mb-0 lg:pr-[12rem]
}
.section-contacts-column .second-side {
  @apply col-span-4 xl:col-span-2
}
.section-contacts-column .second-side div {
  @apply sm:grid grid-cols-2 gap-[20px] lg:gap-[41px] justify-between
}
.section-contacts-column .second-side div a.btn-type-outline1 {
  @apply text-white mb-[20px] sm:mb-0 hover:bg-[#F35622] hover:border-[#F35622]  py-[10px] px-[10px] md:px-[30px] text-[16px] leading-[24px] block font-medium w-full rounded-[50px] border-[2px] text-center border-white
}
.section-contacts-column .second-side div a.btn-type-outline2 {
  @apply text-[#F35622] hover:bg-white hover:border-white py-[10px] px-[10px] md:px-[30px] text-[16px] leading-[24px] block font-medium w-full rounded-[50px] border-[2px] text-center border-white
}
.contacts-page-bg hr {
  @apply border-[#888888] border-[0.5px] mt-[54px]
}
.contacts-page-form {
  @apply bg-[#212324] rounded-[10px] px-[20px] lg:px-[45px] py-[39px]
}
.contacts-page-form form {
  @apply w-full
}
.contacts-page-form-column {
  @apply grid grid-cols-2 lg:mb-[54px] lg:gap-[41px]
}
.contacts-page-form-column input {
  @apply col-span-2 lg:col-span-1 mb-[20px] border-b-[0.7px] text-[16px] leading-[24px] py-[11px] text-white placeholder:text-white/40 bg-transparent outline-none border-[#EAEDEE]
}
.contacts-page-form .btn-main {
  @apply w-full text-center lg:max-w-[256px] flex justify-center font-semibold text-[14px] leading-[24.5px] text-white uppercase items-center align-middle py-[20px] px-[30px] bg-[#F35622] rounded-[50px]
}
.contacts-page-form .form-details {
  @apply mb-[20px] w-full border-b-[0.7px] lg:mb-[61px] text-[16px] leading-[24px] py-[11px] text-white placeholder:text-white/40 bg-transparent outline-none border-[#EAEDEE]
}
.contacts-page-form .form-radio-block {
  @apply flex flex-wrap lg:flex-nowrap items-center mb-[20px] lg:mb-[50px]
}
.contacts-page-form .form-radio-block-label {
  @apply w-full mb-[1rem] md:w-fit md:mb-0
}
.contacts-page-form .form-radio-block-label p {
  @apply mb-0 text-white/40 text-[16px] leading-[24px] text-center md:text-left md:max-w-[259px] w-full mr-[41px]
}
.contacts-page-form .form-radio-block-main {
  @apply flex flex-wrap md:flex-nowrap items-center
}
.logo-carousel-main {
  @apply bg-[#1517180A] py-[60px] relative
}
.logo-carousel-main h2 {
  @apply font-light uppercase text-[#231F20] text-[32px] leading-[48px] mb-[44px] !text-center
}
.logo-carousel-main .gradient-right{
  @apply absolute w-[167px] h-full block top-0 z-10 custom-bg-gradient2-1 right-0
}
.logo-carousel-main .gradient-left{
  @apply absolute w-[167px] h-full block top-0 z-10 custom-bg-gradient2-2 left-0
}
.logo-carousel-main .swiper-slide {
  @apply rounded-[0]
}
.main-intro {
  @apply pt-[140px] px-[30px] md:pt-[244px] pb-[94px] intro-bg-img text-center flex items-center justify-center flex-col
}
.main-intro h1 {
  @apply text-white uppercase font-light text-[36px] md:text-[64px] leading-[46px] md:leading-[78px] text-center mb-[45px] max-w-[882px]
}
.main-intro-description {
  @apply max-w-[600px] text-center font-light text-[20px] leading-[30px] text-white mb-[45px]
}
.main-intro-description2 {
  @apply text-white font-light text-[12px] leading-[24px]
}
.main-intro-btns {
  @apply flex-wrap md:flex-nowrap flex mb-[100px] justify-center w-full
}
.main-intro-btns a.btn-type-orange {
  @apply h-[55px] mb-[20px] md:mb-0 flex justify-between md:justify-start w-full md:w-fit font-semibold text-[14px] leading-[24.5px] text-white border-[1px] border-transparent uppercase items-center align-middle py-[20px] px-[30px] bg-[#F35622] rounded-[50px] md:mr-[23px]
}
.main-intro-btns a.btn-type-white {
  @apply h-[55px] flex items-center justify-center w-full md:w-[232px] font-semibold text-[14px] leading-[24.5px] text-white border-[1px] border-white uppercase align-middle py-[20px] px-[30px] bg-transparent rounded-[50px] md:mr-[23px]
}
.testimonials-carousel-main {
  @apply py-[87px] bg-[#eaedee] px-[20px] md:min-h-[750px]
}
.testimonials-carousel-main h2 {
  @apply uppercase font-light text-[#151718] text-[36px] leading-[54px] text-center mb-[15px]
}
.testimonials-carousel-main-description {
  @apply mb-[30px] md:mb-[100px] text-[#777777] text-[14px] leading-[24px] text-center font-light
}
.testimonials-carousel-main2 {
  @apply overflow-hidden relative
}
.testimonials-carousel-main2 .gradient-right {
  @apply absolute w-[267px] h-full bg-linear-carousel2 z-10 right-0
}
.testimonials-carousel-main2 .gradient-left {
  @apply absolute w-[267px] h-full bg-linear-carousel z-10 left-0
}
.testimonials-carousel-main2-inner {
  @apply bg-[#0000000A] p-[30px] rounded-[10px]
}
.testimonials-carousel-main2-inner-description {
  @apply text-[#808080] text-[16px] leading-[27px] mb-0 text-left 
}
.testimonials-carousel-main2-inner-details {
  @apply flex mb-[32px]
}
.testimonials-carousel-main2-inner-details img {
  @apply rounded-full mr-[23px] !max-w-[56px]
}
.testimonials-carousel-main2-inner-details-main {
  @apply flex flex-col justify-center items-start
}
.testimonials-carousel-main2-inner-details-main p.testimonials-carousel-main2-inner-details-main-heading {
  @apply font-semibold text-[#151718] text-[14px] leading-[24.5px] mb-0
}
.testimonials-carousel-main2-inner-details-main p.testimonials-carousel-main2-inner-details-main-desc {
  @apply text-[#808080] text-[12px] leading-[24.5px] mb-0
}
.section-services {
  @apply md:pb-[100px]
}
.section-services hr {
  @apply border-[#888888] border-[0.5px] my-[20px] md:my-[52px]
}
.section-services hr:last-of-type {
  @apply border-[#888888] border-[0.5px] my-[20px] md:mt-[52px] md:mb-[46px]
}
.section-services .section-description-bottom {
  @apply mb-0 font-light text-[16px] leading-[24px] text-[#888888]
}
.section-services .section-description-bottom a {
  @apply text-[#F35622]
}
.btn-services-selection {
  @apply block md:pr-[2rem] 
}
.btn-services-selection_inner {
  @apply flex justify-between items-center 
}
.btn-services-selection_inner {
  @apply flex justify-between items-center 
}
.btn-services-selection_inner .first-side {
  @apply mr-[15px]
}
.btn-services-selection_inner .first-side h4 {
  @apply text-[#EAEDEE] font-light text-[32px] leading-[48px] mb-[23px] uppercase
}
.tags-box {
  @apply flex
}
.tags-box p {
  @apply border-[1px] border-white text-white font-light text-[16px] leading-[24px] mr-[9px] rounded-[30px] px-[20px] py-[4px]
}
.btn-services-selection_inner .second-side {
  @apply w-[30px]
}
.btn-services-selection_inner .second-side img {
  @apply min-w-[30px]
}
.testimonials-carousel-main-dark {
  @apply bg-[#151718]
}
.testimonials-carousel-main-dark h2 {
  @apply text-white
}
.testimonials-carousel-main-dark p.testimonials-carousel-main-description {
  @apply mb-[30px] md:mb-[100px] text-white text-[24px] leading-[24px] text-center font-light
}
.testimonials-carousel-main-dark .swiper-slide-next {
    scale:1;
    background-color: #FFFFFF0D !important;
}
.testimonials-carousel-main-dark .swiper-slide-prev {
  scale:1;
  background-color: #FFFFFF0D !important;
}
.testimonials-carousel-main-dark .swiper-button-prev {
  left: 47% !important;
  top: 420px;
}
.testimonials-carousel-main-dark .swiper-button-next {
    right: 47% !important;
    top: 420px;
}
.testimonials-carousel-main-dark .swiper-button-next::after,.testimonials-carousel-main-dark .swiper-button-prev::after {
    font-size: 25px;
    color: #C6C6C6;
    margin: 0;
}
.testimonials-carousel-main-dark .gradient-left {
  @apply  bg-linear-carousel3 w-[267px]
}
.testimonials-carousel-main-dark .gradient-right {
  @apply bg-linear-carousel4 
} 
.testimonials-carousel-main-dark .testimonial-main {
  background-color: rgb(255 255 255 / 0.1);
}
.section-type1 {
  @apply bg-[#151718] px-[30px] lg:px-[64px] py-[30px] pt-[80px] md:py-[100px] max-w-[100vw] overflow-hidden;
}
.scroll-snapp {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
html {
  scroll-snap-type: y mandatory;
}

.section-type1_inner {
  @apply lg:pl-[150px] relative
}
.section-main-text2 {
  @apply md:absolute md:left-[-30px] md:top-[50%] md:rotate-[-90deg] relative
}
.section-main-text2 p {
  @apply absolute top-[-25px] bg-[#151718] pr-[24px] pl-[2px] left-[0px] text-[#FE551E] text-[16px] leading-[24px]
}
.section-main-text2 h2 {
  @apply inline text-[#EAEDEE] text-[24px] leading-[36px] pt-[13px] mb-0 uppercase border-t-[1px] border-[#EAEDEE]
}
.section-tyoe1_inner-container {
  @apply grid grid-cols-4 lg:gap-[41px] mb-[48px]
}
.section-tyoe1_inner-container .first-side {
  @apply col-span-4 lg:col-span-2 flex justify-center flex-col
}
.section-tyoe1_inner-container .first-side h2 {
  @apply mt-[30px] md:mt-0 text-[24px] uppercase md:text-[40px] text-white leading-[48px] md:leading-[60px] font-light max-w-[490px]
}
.section-tyoe1_inner-container .first-side hr {
  @apply border-white/80 border-[0.5px] my-[35px]
}
.section-tyoe1_inner-container .first-side .tags-box {
  @apply mt-[35px]
}
.section-tyoe1_inner-container .first-side .tags-box p {
  @apply py-[0px]
}
.section-tyoe1_inner-container .second-side {
  @apply col-span-4 lg:col-span-2
}
.icon-text-container {
  @apply md:flex items-start
}
.icon-text-container img {
  @apply mr-[34px] w-full mb-[20px] md:mb-0 md:w-fit max-w-[72px]
}
.icon-text-container p {
  @apply mb-[30px] text-[#FFFFFF]/70 font-light text-[14px] leading-[24px] lg:pr-[67px]
}
.icon-text-container a {
  @apply h-[55px] w-full mb-[2rem] md:mb-0 text-center lg:max-w-[256px] flex justify-center font-semibold text-[14px] leading-[24.5px] text-[#151718] uppercase items-center align-middle py-[20px] px-[30px] bg-white rounded-[50px]
}
.section-type1-white {
  @apply bg-[#EAEDEE]
}
.section-type1-white .section-main-text2 {
  @apply bg-[#EAEDEE]
}
.section-type1-white .section-main-text2 p {
  @apply bg-[#EAEDEE] !text-[#FE551E]
}
.section-type1-white .section-main-text2 h2 {
  @apply text-[#000000] border-[#151718]
}
.section-type1-white .tags-box p {
  @apply border-[#151718]
}
.section-type1-white h2,.section-type1-white p {
  @apply !text-[#231F20]
}
.section-type1-white hr {
  @apply bg-[#231F20]/80
}
.section-type1-orange {
  @apply bg-[#F35622]
}
.section-type1-orange .section-main-text2 p {
  @apply bg-[#F35622] text-white
}
.section-type1-orange .section-main-text2 h2 {
  @apply border-[#151718] text-[#151718]
}
.services-big-grid {
  @apply grid grid-cols-4 lg:gap-[41px] mb-[48px]
}
.services-big-grid .first-side {
  @apply col-span-4 lg:col-span-2 flex justify-center flex-col
}
.services-big-grid .first-side a {
  @apply w-full mb-[2rem] md:mb-0 text-center lg:max-w-[256px] flex justify-center font-semibold text-[14px] leading-[24.5px] text-[#151718] uppercase items-center align-middle py-[20px] px-[30px] bg-white rounded-[50px]
}
.services-big-grid .first-side p {
  @apply mb-[30px] text-[#FFFFFF]/30 font-light text-[14px] leading-[24px] lg:pr-[67px]
}
.services-big-grid .first-side img {
  @apply mb-[58px] w-fit max-w-[89px]
}
.services-big-grid .second-side {
  @apply col-span-4 lg:col-span-2
}
.services-top-list {
  @apply grid grid-cols-4 lg:gap-[45px] md:mt-[40px] md:mb-[40px]
}
.services-top-list-inner {
  @apply col-span-4 md:col-span-2 mb-[20px] md:mb-0
}
.services-list-item {
  @apply bg-[#212324] px-[19px] py-[13px] rounded-[10px] flex justify-between h-full mb-[20px] md:mb-0
}
.services-list-item p {
  @apply max-w-[60%] font-light text-white text-[24px] leading-[32px] mb-[10px] uppercase
}
.services-list-item div {
  @apply flex items-end
}
.services-list-item div p {
  @apply text-[#FE551E] text-[16px] leading-[28px] font-light
}
.services-bottom-list {
  @apply grid grid-cols-12 lg:gap-[45px] mb-[20px] md:mb-[40px]
}
.services-bottom-list-item {
  @apply col-span-12 md:col-span-4 mb-[20px] md:mb-0
}
.portfolio-big-item {
  @apply block hover:opacity-70 mb-[50px] rounded-[10px] overflow-hidden
}
.portfolio-big-item-inner {
  @apply bg-black/40 flex justify-end flex-col p-[33px] min-h-[60vh]
}
.portfolio-big-item-inner p.portfolio-big-item-inner-description {
  @apply text-white/50 font-light text-[16px] leading-[24px] mb-[20px]
}
.portfolio-big-item-inner h2 {
  @apply font-light text-[36px] leading-[54px] text-white mb-[20px]
}
.portfolio-single-desc {
  @apply text-[#939393] font-light text-[16px] leading-[24px] mb-[12px]
}
.portfolio-single-heading {
  @apply md:flex md:justify-between md:items-end mb-[32px]
}
.portfolio-single-heading h2 {
  @apply mb-[8px] md:mb-0 text-white font-light text-[36px] leading-[54px]
}
.portfolio-single-heading p {
  @apply text-white font-light text-[16px] leading-[24px]
}
.portfolio-single .tags-box {
  @apply mb-[20px] md:mb-[100px]
}
.portfolio-single-img-main {
  @apply block mb-[85px]
}
.portfolio-single-img-main div {
  @apply bg-black/20 rounded-[10px] overflow-hidden
}
.portfolio-single-img-main div img {
  @apply w-full
}
.portfolio-single h2 {
  @apply text-white font-light text-[16px] leading-[24px] mb-[17px]
}
.portfolio-items-grid {
  @apply grid grid-cols-4 md:gap-[45px] mb-[91px]
}
.portfolio-items-grid .first-side {
  @apply col-span-4 md:col-span-2
}
.portfolio-items-grid-element {
  @apply block mb-[40px] md:mb-[95px]
}
.portfolio-items-grid-element p {
  @apply text-[#939393] font-light text-[14px] leading-[24px] mb-[11px]
}
.portfolio-items-grid-element h3 {
  @apply font-light text-white text-[36px] leading-[54px]
}
.portfolio-items-grid-element-inner {
  @apply bg-black/20 rounded-[10px] overflow-hidden mb-[33px] relative
}
.portfolio-items-grid-element-inner-overlay {
  @apply h-full absolute w-full bg-black/20 block
}
.portfolio-items-grid-element-inner-hover {
  @apply text-hover hidden absolute top-[50%] w-full text-center flex items-center justify-center
}
.portfolio-items-grid-element-inner-hover p {
  @apply text-white font-light text-[22px] sm:text-[32px] leading-[36px] sm:leading-[48px] block uppercase mb-0
}
.portfolio-items-grid-element-inner-hover img {
  @apply ml-[8px]
}
.portfolio-items-grid .second-side {
  @apply col-span-4 md:col-span-2 md:pt-[400px]
}
.portfolio-items-grid .last-item {
  @apply block relative md:h-[20rem] overflow-hidden
}
.portfolio-items-grid .last-item .custom-bg-gradient {
  @apply hidden z-10 md:block md:absolute bottom-0 md:h-[130px] w-full m-[0] rounded-b-none
}
.portfolio-items-grid .last-item p {
  @apply text-[#939393] font-light text-[14px] leading-[24px] mb-[11px]
}
.portfolio-items-grid .last-item h3 {
  @apply font-light text-white text-[36px] leading-[54px]
}
.portfolio-items-grid .last-item div {
  @apply bg-black/20 rounded-[10px] overflow-hidden mb-[33px] relative
}
.portfolio-items-grid .last-item div div {
  @apply h-full absolute w-full bg-black/20 block
}
.portfolio-items-grid .last-item div img {
  @apply w-full
}
.center-btn {
  @apply flex justify-center
}
.center-btn a {
  @apply w-full mb-[2rem] md:mb-0 text-center md:max-w-[256px] flex justify-center font-semibold text-[14px] leading-[24.5px] text-[#151718] uppercase items-center align-middle py-[20px] px-[30px] bg-white rounded-[50px]
}
.portfolio-items-grid-flip .second-side {
  @apply !pt-0
}
.portfolio-items-grid-flip .first-side {
  @apply md:pt-[400px]
}
.portfolio-items-grid-flip .section-main-text2 {
  @apply lg:absolute lg:left-[-30px] lg:top-[340px] lg:rotate-[-90deg] relative mb-[2rem] md:mb-0
}
.about-us-section2 {
  @apply !bg-[#eaedee] px-[30px] lg:px-[64px] py-[30px] pt-[70px] pb-[100px] 
}
.about-us-section2 .section-main-text {
  @apply lg:absolute lg:left-[-30px] lg:top-[170px] lg:rotate-[-90deg] 
}
.about-us-section2 .section-main-text h1 {
  @apply inline text-[#151718] text-[24px] leading-[36px] pt-[13px] mb-0 uppercase border-t-[1px] border-[#151718]
}
.about-us-section2-desc {
  @apply font-light text-[#888888] text-[14px] leading-[28px] mb-[62px]
}
.about-us-section2 a.btn-main {
  @apply !h-[55px] w-full mb-[2rem] md:mb-0 text-center md:max-w-[256px] flex justify-center font-semibold text-[14px] leading-[24.5px] text-[#151718] uppercase items-center align-middle py-[20px] px-[30px] bg-white rounded-[50px]
}
.stats-main {
  @apply md:flex justify-between mb-[30px]
}
.stats-main h3 {
  @apply font-light text-[46px] md:text-[115px] leading-[70px] md:leading-[172.5px]
}
.stats-main h3 span {
  @apply uppercase text-[24px] leading-[30px] ml-[20px]
}
.about-us-stats {
  @apply grid grid-cols-4 lg:gap-[45px] lg:mb-[92px]
}
.about-us-stats-inner {
  @apply col-span-4 lg:col-span-2 mb-[2rem] md:mb-0
}
.about-us-stats-inner hr {
  @apply border-[#888888] border-[0.75px] mt-[26px] mb-[16px]
}
.about-us-stats-inner h3 {
  @apply m-0 font-light text-[32px] leading-[48px] text-[#130F28] uppercase
}
.about-us-stats-inner h3 span {
  @apply text-[#FE551E]
}
.stats-main-intro {
  @apply md:flex justify-between mb-[78px] bg-projects-custom rounded-[10px] px-[20px] md:px-[41px] py-[80px]
}
.stats-main-intro h3 {
  @apply text-white
}
.about-us-section2 .section-main-text2 p {
  @apply bg-[#eaedee]
}
.about-us-section2 .section-main-text2 h2 {
  @apply text-[#130F28] border-[#130F28]
}
.about-us-section2 .about-us-stats hr {
  @apply hidden
}
.about-us-details {
  @apply grid grid-cols-12 lg:gap-[45px]
}
.about-us-details .first-side {
  @apply col-span-12 md:col-span-8
}
.about-us-details .first-side p {
  @apply font-light text-[#130F28] text-[14px] leading-[28px]
}
.about-us-details .second-side {
  @apply col-span-12 md:col-span-4 flex items-center justify-end
}
.about-us-details .second-side a {
  @apply mt-[1rem] md:mt-0 w-full mb-[2rem] md:mb-0 text-center md:max-w-[256px] flex justify-center font-semibold text-[14px] leading-[24.5px] text-[#151718] uppercase items-center align-middle py-[20px] px-[30px] bg-white rounded-[50px]
}
.btn-main {
  @apply !h-[55px]
}
.btn-main:hover {
  transition: 0.3s all;
}
.single-grid-2 {
  @apply grid grid-cols-4 lg:gap-[41px]
}
.single-grid-2 .first-side {
  @apply col-span-4 md:col-span-2
}
.single-grid-2 .second-side {
  @apply col-span-4 md:col-span-2
}
.single-grid-2 .first-side p {
  @apply text-white/70 font-light text-[14px] leading-[24px]
}
.single-grid-2 .second-side ul {
  @apply pl-[20px] md:p-0 list-disc
}
.single-grid-2 .second-side ul li {
  @apply text-white/70 font-light text-[14px] leading-[24px] mb-[10px]
}
.single-grid-2 .second-side ul li:last-of-type {
  @apply mb-[0]
}
.img-full-block {
  @apply block mt-[90px] mb-[41px]
}
.img-full-block div {
  @apply bg-black/20 rounded-[10px] overflow-hidden
}
.img-full-block div img {
  @apply w-full
}
.single-2img-grid {
  @apply grid grid-cols-4 md:gap-[45px] mb-[85px] 
}
.single-2img-grid .first-side {
  @apply col-span-4 md:col-span-2 mb-[41px] md:mb-0
}
.single-2img-grid .second-side {
  @apply col-span-4 md:col-span-2
}
.single-2img-grid .first-side div,.single-2img-grid .second-side div {
  @apply bg-black/20 rounded-[10px] overflow-hidden
}
.single-2img-grid .first-side div img,.single-2img-grid .second-side div img {
  @apply w-full rounded-[10px]
}
.hr-type1 {
  @apply border-[#888888] border-[0.5px] mb-[90px]
}
.heading-block-type1 p {
  @apply text-[14px] leading-[24px] font-light text-[#939393] mb-[22px]
}
.heading-block-type1-main {
  @apply md:flex justify-between mb-[27px] items-end
}
.heading-block-type1-main div {
  @apply flex items-center
}
.heading-block-type1-main h2 {
  @apply text-white font-light text-[40px] mb-0 leading-[60px]
}
.heading-block-type1-main p {
  @apply text-white font-light text-[16px] leading-[24px] md:mb-0
}
.heading-block-type1-main img {
  @apply ml-[15px] w-[28px] h-[28px]
}
.hr-type2 {
  @apply border-[#888888] border-[0.5px] mt-[90px] mb-[60px] md:mb-0
}
.img-big {
  @apply rounded-[10px] w-full float-right
}
.img-carousel-type1 {
  width: 100%;
  height: 100%;
}
  .swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
      color: #C6C6C6;   
      max-height: 32px; 
      font-size: 32px;
  }
  .swiper-button-prev:after {
      margin-left: 15px;
  }
  .swiper-button-next:after {
      margin-right: 15px;
  }
  .swiper-pagination-bullet {
      background: #C6C6C6;
      opacity: 1;
      margin-left: 7.5px !important;
      margin-right: 7.5px !important;
  }
  .swiper-pagination-bullets {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 19px !important;
  }
  .swiper-pagination-bullet-active {
      background: white;
      width: 12px;
      height: 12px;
  }
  .logoSwiper.swiper {
    width: 100%;
    height: 100%;
    }
    .logoSwiper .swiper-wrapper {
        display: flex;
        align-items: center;
    }
    .logoSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .logoSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    width:fit-content;
    max-width: 100%;
    }
    .hr-type3 {
      @apply border-[#888888] border-[0.75px] mt-[60px] mb-[74px]
    }
    .hr-type0 {
      @apply border-[#888888] border-[0.75px]
    }
    .portfolio-items-grid-flip .portfolio-items-grid-element {
      @apply md:mb-[111px]
    }
    .portfolio-items-grid-flip {
      @apply md:pb-[100px]
    }
    .testimonials-carousel-main-dark p.testimonials-carousel-main-description {
      @apply text-[14px] leading-[24px] font-light text-[#777777]
    }
    .testimonials-carousel-main-dark .testimonials-carousel-main2-inner-details-main p.testimonials-carousel-main2-inner-details-main-heading {
      @apply text-white
    }
    .about-us-section2 .about-us-stats-inner h3 {
      @apply mt-[25px]
    }
    .hr-type3 {
      @apply border-[#888888] border-[0.5px] m-[0px]
    }
    .carousel-nav-mid {
      @apply md:pb-[30px]
    }
    .carousel-nav-mid .swiper {
      @apply md:min-h-[500px]
    }
    .section-spacing {
      @apply pt-[180px] md:pt-[210px] md:pb-[70px]
    }
    .section-spacing h1 {
      @apply mb-[30px] md:mb-0
    }
    .portfolio-single {
      @apply pb-[50px] md:pb-[100px]
    }
.portfolio-single.section-spacing h2{
  @apply md:text-[36px] md:leading-[54px]
}
.portfolio-single .portfolio-items-grid .last-item{
  @apply lg:min-h-[65vh]
}
.about-us-page {
  @apply pt-[50px] md:pt-[101px]
}
.about-us-page h1 {
  @apply mb-[30px] md:mb-0
}
.contact-page {
  @apply md:pb-[30px]
}
.about-us-page2 .about-us-stats hr {
  @apply !block;
}
.main-navbar .btn-main {
  @apply h-[55px]
}
a.btn-hover-orange,
button.btn-hover-orange {
  @apply hover:!bg-[#D3491C]
}
a.btn-hover-fill {
  @apply hover:!bg-white hover:!text-[#151718]
}
a.btn-hover-gray {
  @apply hover:!bg-[#EAEDEE] hover:!border-[#EAEDEE] hover:!text-[#151718]
}
.text-orange {
  @apply text-[#F35622]
}
.hr-type5 {
  @apply border-[#888888] border-[0.75px] my-[100px]
}
.logo-carousel-main-index {
  @apply md:pb-[91px]
}
.animation-scroll {
  @apply md:fixed md:left-[35px]
}
.hidden-desktop {
  @apply md:hidden
}